@import "../core/varibles";

.dept-add-search {
    padding-block: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.dept-search-container {
    margin-inline: auto;
}


.dept-page-search {
    margin-inline: auto;
}

.dept-page-add {
    background-color: $card;
    padding-inline: 20px;
    padding-block: 5px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    outline: none;

    &:hover {
        background-color: $card_hover;
    }
}

.dept-add-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}