.edit-activity-container {
  display: flex;
  flex-direction: column;
}

.edit-table-contrainer {
  // height: 1000px;

  .actTable {
    max-height: 1000px;
    overflow-y: scroll;
  }
}



.edit-measure-contrainer {
  


  .measure-contriner .css-13cymwt-control {
    height: fit-content !important;
  }

  .css-1dimb5e-singleValue {
    grid-area: 1 / 1 / 2 / 3 !important;
    max-width: 100% !important;
    overflow: hidden !important;
    // text-overflow: ellipsis !important;
    white-space: normal !important;
    color: hsl(0, 0%, 20%) !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    box-sizing: border-box !important;

  }

}



.text-area-dropdown-btn {
  display: flex;
  textarea{
    background-color: white;
  }
}

.dropdown-container {
  width: 97%;
  background-color: $primary_2;
  // padding-block: 10px;
  // padding-inline: 5px;
  margin-block: 10px;
  
}

.drop-down-menu {
  background-color: $primary_2;
  border: 1px solid $primary_1;
  padding: 10px;
  // border-radius: 0.5rem;
  margin-block: 10px;
  white-space: pre-wrap;
  

  &:hover {
    background-color: $primary_1;
    color: white;
  }
}