$primary_1: #001769;
$primary_2: #d9d9d9;
$primary_3: #00176950;
$primary_4: #2d3a69;

$card: #fff;
$card_hover: #e9e9e9;

$red: rgb(224, 89, 89);
$red_hover: rgb(223, 69, 69);

$warning: rgb(240, 173, 78);
$warning_hover: rgb(238, 158, 46);
