.aside-home,
.aside-dept,
.aside-profile {
    margin-block: 10px;
    height: 50px;
    padding-inline: 10px;

}

// .aside-home,
// .aside-dept,
// .aside-profile &&:hover {
//  background-color: aliceblue;
    
// }